[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/devuser/Desktop/Ambari.desktop]
row=0
col=0

[/home/devuser/Desktop/Exam_Tasks.desktop]
row=0
col=1

[/home/devuser/Desktop/Apache.desktop]
row=7
col=0

[/home/devuser/Desktop/Cloudera_Docs.desktop]
row=7
col=1

[/home/devuser/Desktop/Cloudera_Community.desktop]
row=7
col=2

[Trash]
row=7
col=9

[/home/devuser]
row=0
col=9

