[Unit]
Description=Centos startup script for local config
After=network.targt

[Service]
Type=simple
ExecStart=/usr/local/sbin/local-host-config.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
